<div class="fixed-header">
    <div class="container" *ngIf="!isLoggedIn()">
        <span>Enter user id:</span>
        <input type="text" [(ngModel)] = 'enteredUserId' />
        <button class="login" (click)="login()">Log in</button>
    </div>
    <div>
        <span>{{loginErrorMessage}}</span>
    </div>
    <div class="container" *ngIf="isLoggedIn()">
        <span>Userid: {{enteredUserId}}</span>
        <button class="logout" (click)="logout()">Log out</button>
    </div>
</div>

<div class="container">
    <app-match-selection *ngIf="isMatchSelectionPage()"></app-match-selection>
    <app-event-entry *ngIf="isEventEntryPage()"></app-event-entry>
    <app-edit-entries *ngIf="isEventEditPage()"></app-edit-entries>
</div>
